body {
    background-color: fff;
    width: 1600px;
}


.logo {
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}

.text_info{
    font-family: roboto, serif; 
    font-weight: bold; 
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;  
    text-decoration: none;
    color: black;
}

.subtext {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.central_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.28;
    color: black;
}

.info_work {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: black;
   /* пока что чёрный ибо в фигме он белый  */
}

.link, .link:visited {

    font-family: roboto, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
    color: 000;
}

.link:hover {
  
    color: #2196F3;
  
}

.worker {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color:black
}

.worker_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #757575
}

span {
    color:black
}


.hero_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.contact_footer {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.72;
}




footer {
    background-color: #2F303A;

}