body {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.link_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
    text-decoration: none;
    margin-right: 50px;
}

.link_header:hover {
    color: #2196F3;
}

.glek_footer {
    display: flex;
    
}

.glek {
    display: flex;
}

.glek2 {
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.glek2:last-child {
    margin-right: 0px;
}

.glek3 {
    margin-right: 30px;
}


.glek3:last-child {
    margin-right: 0px;
}

.p23 {
    margin-right: 30px;
    margin-top: 244px;
}

.p23:last-child {
    margin-right: 0px;
}

.logo {
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    margin-right: 86px;
}

.container_hero {
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header.png);
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
}

.text_info{
    font-family: roboto, serif; 
    font-weight: bold; 
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;  
    text-decoration: none;
    color: black;
}
.subtext {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.button_subs {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: inline-block;
    text-decoration: none;
    width: 200px;
    height: 50px;

}

.button_buy {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    margin-left: 700px;
    margin-right: 700px;
    margin-bottom: 200px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button_buy:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.work {
    height: 439px;
}

.central_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.28;
    color: black;
    text-align: center;
}

.info_work {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: black;
    display: flex;
   /* пока что чёрный ибо в фигме он белый  */
}

.link {

    font-family: roboto, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
    color: #000;
}

.link:hover {
  
    color: #2196F3;
  
}

.worker {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color:black;
    text-align: center;
}

.box_sp {
    height: 90px;
    width: calc((100% - 150px) / 6);
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    margin-right: 30px;
}

.box_sp:last-child {
    margin-right: 0px;
}

.personal_lol {
    background: #F5F4FA;
    height: 702px;
}

.worker_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    text-align: center;

}

.partner {
    height: 370px;
}

.who {
    height: 574px;
}

span {
    color:black
}


.hero_title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    margin-left: 477px;
    margin-right: 477px;
    padding-top: 200px;
    margin-top: 0px;
    margin-bottom: 46px;
}

.contact_footer {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.72;
}

.link_info {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.72;
    color: rgba(255, 255, 255, 0.6);
}

.container {
    padding-left: 15px;
    padding-top: 15px;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
}

.container_nav {
    padding-left: 15px;
    padding-top: 25px;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 24px;
}

.container1 {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 253px;
}

.container2 {
    padding-left: 15px;
    padding-top: 15px;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 253px;
}

.boom {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.onetwo {
    margin-right: 50px;
}

.onetwo:last-child {
    margin-right: 0px;
}

address {
    margin-right: 0;
    margin-left: auto;
}

.glek_5 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row
    
}


.text_footer {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.createdby {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

.form_email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
    width: 358px;
    height: 50px;
}

studiocolor {
    color: white
}

footer {
    background-color: #2F303A;
    display: flex;
    flex-direction: row;
}