body {
    background-color: fff;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.link_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
    text-decoration: none;
    margin-right: 50px;
}

.link_header:hover {
    color: #2196F3;
}

.glek {
    display: flex;
}

.glek2 {
    margin-right: 30px;
}

.glek2:last-child {
    margin-right: 0px;
}

.p23 {
    margin-right: 30px;
}

.p23:last-child {
    margin-right: 0px;
}

.logo {
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    margin-right: 86px;
}

.text_info{
    font-family: roboto, serif; 
    font-weight: bold; 
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;  
    text-decoration: none;
    color: black;
}

.subtext {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.central_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.28;
    color: black;
    text-align: center;
}

.info_work {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: black;
    display: flex;
   /* пока что чёрный ибо в фигме он белый  */
}

.link {

    font-family: roboto, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
    color: #000;
}

.link:hover {
  
    color: #2196F3;
  
}

.worker {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color:black;
    text-align: center;
}

.worker_info {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    text-align: center;

}

span {
    color:black
}


.hero_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-left: 477px;
    margin-right: 477px;
}

.contact_footer {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.72;
}

.link_info {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.72;
    color: rgba(255, 255, 255, 0.6);
}

.container {
    padding-left: 15px;
    padding-top: 15px;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.boom {
    display: flex
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.onetwo {
    margin-right: 50px;
}

.onetwo:last-child {
    margin-right: 0px;
}

address {
    margin-right: 0;
    margin-left: auto;
}

.text_footer {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.createdby {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

studiocolor {
    color: white
}

footer {
    background-color: #2F303A;

}